@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins&display=swap');
@import "tailwindcss";

@theme{
  --font-Poppins:"Poppins",sans-serif;
  --font-Inter:"Inter",sans-serif;
}
.swiper-pagination{
  @apply !mb-2  max-md:hidden;
}

.swiper-pagination-bullet {
  @apply !place-self-end !size-3 !bg-gray-300/30 !opacity-100;
}

.swiper-pagination-bullet-active {
  @apply !size-3 !bg-blue-800 !opacity-100 transition-colors duration-200;
}
.swiper-pagination-bullet-active:hover {
  @apply  !bg-blue-900 ;
}

.skeleton-shimmer {
  background: linear-gradient(    90deg,    rgba(51,65,85, 0.2) 25%,    rgba(71,85,105, 0.4) 50%,    rgba(51,65,85, 0.2) 75%  );
  background-size: 200% 100%;
  animation: shimmer 3s infinite;
  -webkit-animation: shimmer 3s infinite;
}

@keyframes shimmer {
  0% { background-position: -200% 0; }
  100% { background-position: 200% 0; }
}


::-webkit-scrollbar{
  @apply w-1 bg-slate-700 rounded-full;
}

::-webkit-scrollbar-thumb{
  @apply bg-blue-800 rounded-full;
}

html{
  @apply scroll-smooth;
}